*.iml
.gradle
/local.properties
/.idea/workspace.xml
/.idea/libraries
.DS_Store
/build
/captures
.externalNativeBuild
build.grade
gradle.properties
gradle/
gradlew
gradlew.bat
settings.gradle
build.gradle
idea/
.idea/
